* {
  margin: 0;
  padding: 0%;
}
header{
  height: 600px;
}
a{
  text-decoration: none;
  color: #00E200;
}
a:visited { 
  text-decoration: none; 
  }
a:hover{
  text-decoration: none
}
.titles{
  font-family: 'Ubuntu', sans-serif;
  color: #00E200;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.logo{
text-align: center;
position: relative;
top: 33%;

}
.links {
  float: left;
  width: 1000px;
  height: 300px;
  position: absolute;
  top: -3%;
  left: 7%;
}
.git{
  position: absolute;
  left: 0%;
  top: 0%;
}
.git:hover{
  position: absolute;
  top: 3%;
  left: 0%;
  filter: grayscale(100%) ;
  transition: 1s;
}
.git:active{
  position: absolute;
  top: 3%;
  left: 0%;
  filter: saturate(3207%);
 
}

.likedin{
  position: absolute;
  left: 5% ;
  top: 0;
}

.likedin:hover{
  position: absolute;
  top: 3%;
  left: 5%;
  filter: grayscale(100%);
  transition: 1s;
}

.likedin:active{
  position: absolute;
  top: 3%;
  left: 5%;
  filter: saturate(3207%);
 
}

.instagram{
  position: absolute;
  left: 10% ;
  top: 0;
}
.instagram:hover{
  position: absolute;
  top: 3%;
  left: 10%;
  filter: grayscale(100%);
  transition: 1s;
}

.instagram:active{
  position: absolute;
  top: 3%;
  left: 10%;
  filter: saturate(3207%);
}

.da{
  position: absolute;
  left: 15% ;
  top: 0;
}

.da:hover{
  position: absolute;
  top: 3%;
  left: 15%;
  filter: grayscale(100%);
  transition: 1s;
}
.da:active{
  position: absolute;
  top: 3%;
  left: 15%;
  filter: saturate(3207%);
}

.header1{
  background: #1f1f1f;  
  height: 25px;
  z-index: 2;
}
.blacktop{
  background: black;
  height: 20px;
}
.sumary{
  clear: right;
  position:absolute;
  right: 60px;
  top: 1.5%;
}
div.header h1{
  clear: left;
  margin: 0%;
  
}
#foto{

  margin-left: 57%;
  margin-top: 2%;

}
.Trybe{
  font-weight: 900;
  font-size: 30px;
  text-decoration: underline;
  color: #00E200;  
}
.photo-container {
  
  background-image: url("wood.jpg") ;
  background-size: 105%;
   /*
  background-image: url("https://wallpapercave.com/wp/wp2742751.jpg") ;
  
  background-image: url("http://cdn30.us1.fansshare.com/image/backgroundvector/art-black-background-vector-pattern-carbon-backround-black-1332181988.jpg") ;*/
 
  height: 555px;
  z-index: 1;
}

#explosão1{
 
  position: absolute;
  top: 150px;
  left: 0%;
  z-index: 1;
}
#explosão2{
  width: ;
  position: absolute;
  top: px;
  right: 0% ;
}
.descricao{
  font-weight: 400;
  position: absolute;
  top: 35%;
  right: 46%;
  font-size: 25px;
  text-align: center;
  width: 700px;
  z-index: 2;

}
.nome{
  position: absolute;
  font-size: 30px;
  top: 25%;
  width: 800px;
  right: 43%;
  color: #00E200;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #ffffff;
    background: #0D0D0D;
  }

.baixo{
  height: 1500px;
}

.sobremim{
  position: relative;
  left: 22%;
  top: 40%;
  display: block;
  height: 500px;
  text-align: center;
  width: 1100px;
  font-size: 20px;
}
.sobremim h2{
  font-size: 80px;
  display: block;
  margin-bottom: 50px;
}
.duascaixas{
  display: block;
  height: 500px;
  background-color: black;
}
.habilidades {
  list-style:circle ;
  font-size: 25px;
  width: 800px;
}

footer{
  display: block;
  background-color: blanchedalmond;
}