* {
  margin: 0;
  padding: 0%;;
}
.titles{
  font-family: 'Roboto Mono', monospace;
  color: #00E200;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.logo{
  font-family: 'Courier New', Courier, monospace;
  margin-left: 22%;
}
.header{
 
  background: #219116;
  height: 25px;
}
.sumary{
  float:left;
  margin-left: 5%;
}
div.header h1{
  clear: left;
  margin: 0%;
  
}
#foto{
  border-radius: 7%;
  width: 30%;
  float: right;
  margin-right: 12%;
  }
.photo-container {

  height: 500px;
}
body{
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #ffffff;
    background: #0D0D0D;
  }

div{
  border: 2px solid #00E200;
}